html, body {
    height: 100%;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: fit-content;
    padding: 10px;
    margin: 20px;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

th {
    padding: 10px;
}

tr:hover td {
    border-style: solid;
    border-width: 2px;
    border-color: lawngreen;
}

td {
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}

button {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: darkmagenta;
    border-style: none;
    border-radius: 10px;
    width: fit-content;
    max-width: 100px;
}

#nav {
    height: 70px;
    width: 100%;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav div {
    display: flex;
    align-items: center;
}

#nav a {
    color: white;
    margin: 10px;
}

#post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post-item {
    position: relative;
    margin: 20px;
    border-style: ridge;
    border-color: aliceblue;
    background-color: #f7f5f5;
    padding: 3px;
}

.post-item img {
    width: 250px;
}

.post-item h2, .post-item p {
    margin: 2px;
}

.post-item .price-h2 {
    margin: 10px;
    color: dodgerblue;
}

.post-item:hover{
    border-width: 5px;
    border-color: dodgerblue;
    border-style: ridge;
}